aiocache[redis]
fastapi==0.109.0
python-multipart==0.0.6
pymongo==4.6.1
# pandas==2.2.0
# scikit-learn==1.4.0
# scipy==1.12.0
# numpy==1.26.3
recommenders==1.1.1
lightfm==1.17
uvicorn[standard]
sentence-transformers