body {
	overflow-x: hidden;
	margin: 0px;
	min-height: 100vh;
	background: linear-gradient(180deg, rgba(233, 219, 240, 0.4) 0%, rgba(249, 225, 228, 0.4) 100%);
}

* {
	box-sizing: border-box;
}


html::-webkit-scrollbar,
body::-webkit-scrollbar,
.root::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: rgba(249, 225, 228, 1);
}

@keyframes fadeIn {  
	from {  
		opacity:0;  
	}  
 
	to {  
		opacity:1;  
	}  
 }